.about-me {
  min-height: 100vh;
  padding: 80px 15%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #F9FAFB;
  color: #64748B;
}

.about-content {
  max-width: 1000px;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 60px;
  line-height: 1.1;
  animation: slideInLeft 1.5s ease forwards;
}  

.about-text {
  padding: 0;
  line-height: 1.5;
  margin-top: 24px;
  text-align: justify;
  color: var(--muted);
  animation: slideInLeft 1.5s ease forwards;
  
}

