.education {
  min-height: 100vh;         
  padding: 80px 15%;
  font-size: 1.1rem;
  scroll-margin-top: 130px;
  background-color: #F9FAFB;
  color: #64748B;
  text-align: center;
  justify-content: center;
  line-height: 1.1;
}

.education h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.1;
  animation: slideInLeft 1.5s ease forwards;
}  

.education-card {
  background: #F9FAFB;
  padding: 0px;
  margin-top: 0px;
  text-align: justify;
  animation: slideInLeft 1.5s ease forwards;
}

.education-item {
  list-style: none;
  padding: 10px;
}



