.me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  scroll-margin-top: 10px;

  background-color: var(--bg);
  color: var(--text);

  padding: 1rem 8rem;
  overflow: hidden;
}

.me h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.1;

  color: var(--primary);
  animation: slideInLeft 2.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.me p {
  font-size: 1.6rem;
  max-width: 720px;
  line-height: 1.6;

  color: var(--muted);

  opacity: 0;
  animation: slideInLeft 2.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  animation-delay: 0.6s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-160px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .me {
    padding: 2rem;
  }

  .me h1 {
    font-size: 3rem;
  }

  .me p {
    font-size: 1.2rem;
  }
}


.container {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.right-image {
  position: fixed;
  max-width: 100vw; 
  max-height: 100vh; 
  transform: rotate(45deg);
}

/* Bottom image */
.right-image.bottom {
  top: 500px;
  right: 0px;
  z-index: 1;
}

/* Top image */
.right-image.top {
  top: 600px;  
  right: 300px; 
  z-index: 2;
}
