.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  top: 0;
  display: flex;

  width: 85%;
  background-color: var(--bg);
  color: var(--text);

  justify-content: space-around;

}

.navbar ul {
  font-size: large;
  list-style: none;
  display: flex;
  padding: 1rem 1.5rem; 
  gap: 4rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--muted);
  transition: color 0.25s ease;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
}
