.projects {
  min-height: 100vh;
  padding: 80px 25%;
  font-size: 1.1rem;
  background-color: #F9FAFB;
  color: #64748B;
  text-align: center;
  justify-content: center;
  line-height: 1.1;
}

.project-card {
  background: #F9FAFB;
  padding: 10px;
  text-align: justify;
  animation: slideInLeft 1.5s ease forwards;

  max-width: 1100px;    
  margin: 0 auto;    
}

.project-card h3 {
  margin: 10px 0 8px;
}
.project-card p {
  margin-bottom: 6px;
    line-height: 1.5;
}

.projects a {
  color:  #64748B;      
  text-decoration: none;
}

.projects a:visited {
  color:  #64748B      
}

.projects a:hover {
  color: #1e40af;
  text-decoration: underline;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.1;
  animation: slideInLeft 1.5s ease forwards;

}








