.skills {
  min-height: 100vh;
  padding: 80px 29%;
  font-size: 1.1rem;
  background-color: hsl(210, 20%, 98%);
  color: #64748B;
  text-align: center;
  justify-content: center;
  line-height: 1.1;
}

.skills-card {
  background: #F9FAFB;
  padding: 20px;
  margin: 20px auto;      
  max-width: 900px;
  text-align: left;  
  animation: slideInLeft 1.5s ease forwards;

  max-width: 1100px;    
  margin: 0 auto;    
}


.skills h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.1;
  animation: slideInLeft 1.5s ease forwards;

}
