.skills {
  padding: 80px 15%;
  font-size: 1.25rem;
  scroll-margin-top: 130px;
  background-color: #F9FAFB;
  color: #64748B;
  text-align: center;
  justify-content: center;
  line-height: 1.1;
  
}

.skills-card {
  background: #F9FAFB;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
  animation: slideInLeft 1.5s ease forwards;
}


.skills h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.1;
  animation: slideInLeft 1.5s ease forwards;
}